API_URL = http://103.84.206.53:3304 # URL untuk fetch data dari API
NEXTAUTH_SECRET=fastpec # Random string untuk secret next-auth
NEXT_PUBLIC_URL=http://localhost:3000 #URL untuk fetch data dari Route handler