@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
  @apply bg-[url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat;
}

.bg-header {
  background-image: url('https://plus.unsplash.com/premium_photo-1701697099434-7243b37dcda6?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#table::-webkit-scrollbar {
  @apply h-[8px] bg-transparent;
}

#table::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#table::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}

#pagination::-webkit-scrollbar {
  @apply h-[8px] bg-transparent;
}

#pagination::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#pagination::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}

*::-webkit-scrollbar {
  @apply h-0 w-0;
}
